<?xml version="1.0" ?>
<robot name="gummi" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="group_right_arm_ee">
    <joint name="forearm_roll" />
    <joint name="wrist_pitch" />
</xacro:macro>

<xacro:macro name="group_state_right_arm_ee">
  <joint name="forearm_roll" value="0" />
  <joint name="wrist_pitch" value="0" />
</xacro:macro>


<xacro:macro name="disable_collisions_ee">
  <disable_collisions link1="lowerarm" link2="lowerarm_preroll_d" reason="Adjacent" />
  <disable_collisions link1="lowerarm" link2="wrist" reason="Adjacent" />
  <disable_collisions link1="lowerarm_preroll_d" link2="wrist" reason="Never" />
</xacro:macro>
</robot>
